/*not sure how this will hold up, may have to customize based on the final clone id info*/
#post-5 {
	background-color: red;
	display: none;
}


/*prettier acf*/
.acf-field .acf-label label {
	font-size: 1.5em;
	margin-top: 25px !important;	
}


#toplevel_page_portfolio-options {
	background-color: #0c520e;
}

#toplevel_page_gf_edit_forms, #toplevel_page_wp-fail2ban {
	display: none;
}